.subscribe-button {
  background-color: rgb(200, 0, 0);
  color:white;
  border: none;
  height: 35px;
  width: 113px;
  border-radius: 2px;
  cursor: pointer;
  margin-right:7px;
  transition: opacity 0.15s;
}

.subscribe-button:hover {
  opacity: 0.8;
}

.subscribe-button:active {
  opacity:0.5;
}

.join-button{
  background-color: white;
  color:rgb(26, 101, 241);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(33, 107, 246);
  height: 35px;
  width: 63px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  transition: background-color 0.15s,
    color 0.15s;
}

.join-button:hover {
  background-color: rgb(26, 101, 241);
  color: white;
}
.join-button:active {
  opacity: 0.7;

}


.tweet-button{
  background-color: rgb(3, 157, 239);
  color: white;
  height: 35px;
  width: 72px;
  border-radius: 20px;
  font-weight: bold;
  font-size:14px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.tweet-button:hover {
  box-shadow: 3px 5px 10px rgba(0,0,0, 0.15);
}
